body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
#instructions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.cont {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 36, 56);
    flex: 1;
    color: white;
}

.buttons {
    display: flex;
    gap: 20px;
}
